/* PLEASE PUT ME IN A .CSS FILE */
table {
  border-collapse: collapse;
}

table, th {
  border: 1px solid black;
}

td, th {
    padding: 3px;
}

td {
    border-left: 1px solid black;
}

h1 {
    text-align: center;
    margin: 10px;
}

.filter-element {
    width: 49%;
    float: left;
    text-align: center;
    margin-bottom: 25px;
}

.submit-button {
    text-align: center;
}

.hour-block {
    border-top: 1px solid black;
}

.booked {
    background-color: red;
}

.unbooked {
    background-color: green;
}

.last-scan {
    text-align: center;
}

.time-col {
    width: 75px;
}

#filter-body {
    margin: auto;
    width: 50%;
    border: 3px solid orange;
    padding: 5px 25px 10px;
}

#page-body {
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 5px 5px 10px;
}

#table-parent {
    text-align: center;
    width: 85%;
    margin: auto;
}

#table-body {
    width: 100%;
}