<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ANU Study Room Timetables</title>
        <link rel="stylesheet" type="text/css" href="../static/mainstyle.css" />
    </head>

    <body>
        <div id="page-body">
            <h1>ANU Study Room Timetables</h1>

            <!-- FILTER FORM -->
            <form method="POST" id="filter-body">
                <div class="filter-element">
                    <p><b>Building</b></p>
                    <select name="building">
                        {% for b in buildingList %}
                        <option value={{ b }} {{ "selected" if b == buildingSelected }}>{{ b }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-element">
                    <p><b>Date</b></p>
                    <select name="date">
                        {% for d in dateList %}
                        <option value={{ d }} {{ "selected" if d == dateSelected }}>{{ d }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="filter-element">
                    <p><b>Start Time</b></p>
                    <input type="time" name="start_time" min="00:00" value={{ convertMinutesToString(startTimeSelected) if startTimeSelected else "08:00" }} required />
                </div>

                <div class="filter-element">
                    <p><b>End Time</b></p>
                    <input type="time" name="end_time" value={{ convertMinutesToString(endTimeSelected) if endTimeSelected else "19:00" }} required />
                </div>

                <div class="submit-button">
                    <p><input type="submit"></p>
                </div>

                <div class="last-scan">
                    {% if last_scan is defined %}
                    Last Scan: {{ last_scan }}
                    {% endif %}
                </div>
            </form>

            <!-- TIMETABLE PROPER CODE -->
            <div id="table-parent">
                {% if bool_booked is defined %}
                    <h1> {{ buildingSelected }} on {{ dateSelected }}</h1>
                {% endif %}

                <table id="table-body">
                    {% if titles is defined %}
                    <colgroup>
                        <col class="time-col"/>
                        {% for trash in room_name %}
                            <col />
                        {% endfor %}
                    </colgroup>
                    {% endif %}
                    <tr>
                        {% if titles is defined %}
                            <th>Times</th>
                            {% for room_name in titles %}
                            <th>{{ room_name }}</th>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    {% for booked_list in bool_booked %}
                        <tr>
                            <!-- Check if we are looking at an hourly block, set hourly accordingly -->
                            {% set hourly = True if (startTime + loop.index0 * 15) % 60 == 0 %}

                            <td {{ "class=hour-block" if hourly }} >{{ convertMinutesToString(startTime + loop.index0 * 15) }}</td>
                            {% for booking in booked_list %}
                            <td {{ "class=hour-block booked" if hourly }} {{ "style=background-color:#e60000;" if booking else "style=background-color:#00b300;" }}> </td>
                            {% endfor %}

                            {% set hourly = False %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>